{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Projekt Zespolowy {% endblock %}
{% include "header.html" %}
{% block content %}
<div class="row mt-5"></div>
<div class="container mt-5">
    <h2 class="text-center">Dodaj kandydata</h2>
     {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="row faded-alert text-center text-danger">
            <div class="col-md-12 col-lg-12 col-sm-12 ml-auto mr-auto">
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
            </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <details>
                          <summary class="text-secondary">Odnośniki do formularzy</summary>
                           <p><a class="text-decoration-none" href="">Formularz 1</a></p>
                            <p><a class="text-decoration-none" href="">Formularz 2</a></p>
                            <p><a class="text-decoration-none" href="">Formularz 3</a></p>
                            <p><a class="text-decoration-none" href="">Formularz 4</a></p>
                        </details>
        </div>
        <div class="col-3"></div>
    </div>


</div>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6"> {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}</div>
        <div class="col-3"></div>
    </div>

</div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>

{% include "footer.html" %}
{% endblock %}
