
        <!-- Footer-->
        <footer class="footer text-center py-5 bg-dark footer-one-page fixed-bottom">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 2022 <a class="text-decoration-none" href="https://github.com/drutkoowski">GIT</a></p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static', filename='js/scripts.js')}}"></script>