{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Projekt Zespolowy {% endblock %}
{% include "header.html" %}
{% block content %}
            <div class="row text-dark text-center mt-5">
                        <div class="col-md-12 col-lg-12 mb-5 mt-5 text-center">
                            <a class="text-decoration-none" href="{{url_for('menu_page')}}">
                                <i class="fa-solid fa-arrow-left fa-3x text-dark"></i>
                                <h3 class="text-center text-dark mt-4">Powrót</h3>
                            </a>
                     </div>
                 </div>
{% if not candidates or candidates_search is none %}
<h2 class="text-center text-warning"> Brak kandydatów do wyświetlenia!</h2>
{% endif %}

{% if not candidate_search %}
{% if candidates %}
 <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview mt-4">
                 <form action="{{url_for('show_candidates')}}" method="POST">
                    <div class="row cafe-name">

                           <div class="input-group mb-3">
                              <input name="surname_search" type="text" class="form-control" style="height: 100%" placeholder="Wyszukaj po nazwisku" aria-label="Recipient's username" aria-describedby="button-addon2">
                              <div class="input-group-append">
                                <button class="ml-1 btn btn-outline-secondary btn-dark text-light" style="margin-left: 1.5rem" type="submit" id="button-addon2">Search</button>
                              </div>
                            </div>
                    </div>

                </form>
                {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="row faded-alert text-center text-danger">
            <div class="col-md-12 col-lg-12 col-sm-12 ml-auto mr-auto">
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
            </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
            </div>
        </div>
    </div>
            {% for candidate in candidates %}
<div class="row mt-5"></div>
 <div class="row mt-4">
        <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="row ">
                        <div class="col-sm-12 col-lg-4 col-md-4">
                            <h2 class="">
                                {{candidate.FirstName}} {{candidate.LastName}}
                            </h2>
                            {% if candidate.status == 0 %} <p class="text-danger">Dokumenty niewysłane</p>{% elif candidate.status == 1 %} <p class="text-warning"> Dokumenty wysłane</p>{% elif candidate.status == 3 %} <p class="text-success"> Otrzymano wszelkie zgody</p> {% elif candidate.status == 4 %} <p class="text-danger"> Otrzymano odmowę</p> {% endif %}
                            {% if candidate.alert == 1 %} <p class="text-warning">Niezbędne dokumenty niedługo wygasną</p> {% elif candidate.alert == 2 %} <p class="text-danger">Niezbędne dokumenty wygasły</p> {% endif %}
                        </div>
                      <div class="col-sm-12 col-lg-4 col-md-4 ml-auto">
                       <p><a class="text-decoration-none" href="{{url_for('edit_candidate', id=candidate.id)}}">Edytuj</a></p>
                        <p><a class="text-decoration-none" href="{{url_for('delete_candidate', id=candidate.id)}}">Usuń</a></p>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-md-4">
                             <p><a class="text-decoration-none" target="blank" href="{{url_for('show_docs_dowod', id=candidate.id)}}">Przeglądaj skan dowodu</a></p>
                          <p><a class="text-decoration-none" href="{{url_for('show_docs_karta', id=candidate.id)}}">Przeglądaj kartę kierowcy</a></p>
                        </div>
                    </div>
        </div>
 </div>
 <div class="row">
     <div class="col-lg-8 col-md-10 mx-auto">
         <div class="row ">
                <div class="col-sm-12 col-lg-4 col-md-6">
                        <details>
                          <summary class="text-secondary">Dane</summary>
                           <p>Email: {{candidate.Email}}</p>
                            <p>Pesel: {{candidate.Pesel}}</p>
                            <p>Narodowość: {{candidate.Nationality}}</p>
                            <p>Miejsce urodzenia: {{candidate.BirthCity}}</p>
                          <p>Miejsce zamieszkania: {{candidate.City}}</p>
                          <p>Adres zamieszkania: {{candidate.Address}}</p>
                         <p>Kod pocztowy: {{candidate.CityPostalCode}}</p>
                        </details>
                        </div>
                         <div class="col-sm-12 col-lg-6 col-md-6">
                            <details>
                                <summary class="text-secondary">Dokumenty</summary>
                                <p>Numer karty kierowcy: {{candidate.driver_card_number}}</p>
                                <p>Data wygaśnięcia karty kierowcy: {{candidate.driver_card_number_expires_date}}</p>
                                <p>Status formularzy: </p>
                                    Formularz 1: {% if candidate.form1_status == 0 %} <p class="text-danger">Nie wysłano</p> {% elif candidate.form1_status == 1 %} <p class="text-warning">Wysłano</p> {% elif candidate.form1_status == 3 %} <p class="text-success">Zatwierdzone</p> {% elif candidate.form1_status == 4 %} <p class="text-danger">Odmowa</p> {% endif%}
                                    Formularz 2: {% if candidate.form2_status == 0 %} <p class="text-danger">Nie wysłano</p> {% elif candidate.form2_status == 1 %} <p class="text-warning">Wysłano</p> {% elif candidate.form2_status == 3 %} <p class="text-success">Zatwierdzone</p> {% elif candidate.form2_status == 4 %} <p class="text-danger">Odmowa</p> {% endif%}
                                    Formularz 3: {% if candidate.form3_status == 0 %} <p class="text-danger">Nie wysłano</p> {% elif candidate.form3_status == 1 %} <p class="text-warning">Wysłano</p> {% elif candidate.form3_status == 3 %} <p class="text-success">Zatwierdzone</p> {% elif candidate.form3_status == 4 %} <p class="text-danger">Odmowa</p> {% endif%}
                                    Formularz 4: {% if candidate.form4_status == 0 %} <p class="text-danger">Nie wysłano</p> {% elif candidate.form4_status == 1 %} <p class="text-warning">Wysłano</p> {% elif candidate.form4_status == 3 %} <p class="text-success">Zatwierdzone</p> {% elif candidate.form4_status == 4 %} <p class="text-danger">Odmowa</p> {% endif%}

                                </details>

                            </div>
             </div>
         </div>

                        </div>
                <div class="row mt-3">
                    <div class="col-4 offset-2">
                        <hr></div>
                </div>

            {% endfor %}
            {% endif %}
{% elif candidate_search %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <a href="{{url_for('show_candidates')}}" class="text-decoration-none text-success">Pokaż wszystkich</a>
    </div>
</div>
 <div class="row mt-4">
        <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="row ">
                        <div class="col-sm-12 col-lg-4 col-md-4">
                            <h2 class="">
                                {{candidate_search.FirstName}} {{candidate_search.LastName}}
                            </h2>
                            {% if candidate_search.status == 0 %} <p class="text-danger">Dokumenty niewysłane</p>{% elif candidate_search.status == 1 %} <p class="text-warning"> Dokumenty wysłane</p>{% elif candidate_search.status == 2 %} <p class="text-success"> Otrzymano wszelkie zgody</p> {% elif candidate_search.status == 3 %} <p class="text-danger"> Otrzymano odmowę</p> {% endif %}
                            {% if candidate_search.alert == 1 %} <p class="text-warning">Niezbędne dokumenty niedługo wygasną</p> {% elif candidate_search.alert == 2 %} <p class="text-danger">Niezbędne dokumenty wygasły</p> {% endif %}

                         </div>
                      <div class="col-sm-12 col-lg-4 col-md-4 ml-auto">
                       <p><a class="text-decoration-none" href="{{url_for('edit_candidate', id=candidate_search.id)}}">Edytuj</a></p>
                        <p><a class="text-decoration-none" href="{{url_for('delete_candidate', id=candidate_search.id)}}">Usuń</a></p>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-md-4 ml-auto">
                            <p><a class="text-decoration-none" href="{{url_for('show_docs_dowod', id=candidate_search.id)}}">Przeglądaj skan dowodu</a></p>
                          <p><a class="text-decoration-none" href="{{url_for('show_docs_karta', id=candidate_search.id)}}">Przeglądaj kartę kierowcy</a></p>
                        </div>
                    </div>

                    <div class="row">
                         <div class="col-lg-6 col-md-6 mx-auto">
                        <details>
                          <summary class="text-secondary">Dane</summary>
                           <p>Email: {{candidate_search.Email}}</p>
                            <p>Pesel: {{candidate_search.Pesel}}</p>
                            <p>Narodowość: {{candidate_search.Nationality}}</p>
                            <p>Miejsce urodzenia: {{candidate_search.BirthCity}}</p>
                          <p>Miejsce zamieszkania: {{candidate_search.City}}</p>
                          <p>Adres zamieszkania: {{candidate_search.Address}}</p>
                         <p>Kod pocztowy: {{candidate_search.CityPostalCode}}</p>
                        </details>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-md-6 ml-auto">
                            <details>
                                <summary class="text-secondary">Dokumenty</summary>
                                <p>Numer karty kierowcy: {{candidate_search.driver_card_number}}</p>
                                <p>Data wygaśnięcia karty kierowcy: {{candidate_search.driver_card_number_expires_date}}</p>
                                <p>Status formularzy: </p>
                                    Formularz 1: {% if candidate_search.form1_status == 0 %} <p class="text-danger">Nie wysłano</p> {% elif candidate_search.form1_status == 1 %} <p class="text-warning">Wysłano</p> {% elif candidate_search.form1_status == 3 %} <p class="text-success">Zatwierdzone</p> {% elif candidate_search.form1_status == 4 %} <p class="text-danger">Odmowa</p> {% endif%}
                                    Formularz 2: {% if candidate_search.form2_status == 0 %} <p class="text-danger">Nie wysłano</p> {% elif candidate_search.form2_status == 1 %} <p class="text-warning">Wysłano</p> {% elif candidate_search.form2_status == 3 %} <p class="text-success">Zatwierdzone</p> {% elif candidate_search.form2_status == 4 %} <p class="text-danger">Odmowa</p> {% endif%}
                                    Formularz 3: {% if candidate_search.form3_status == 0 %} <p class="text-danger">Nie wysłano</p> {% elif candidate_search.form3_status == 1 %} <p class="text-warning">Wysłano</p> {% elif candidate_search.form3_status == 3 %} <p class="text-success">Zatwierdzone</p> {% elif candidate_search.form3_status == 4 %} <p class="text-danger">Odmowa</p> {% endif%}
                                    Formularz 4: {% if candidate_search.form4_status == 0 %} <p class="text-danger">Nie wysłano</p> {% elif candidate_search.form4_status == 1 %} <p class="text-warning">Wysłano</p> {% elif candidate_search.form4_status == 3 %} <p class="text-success">Zatwierdzone</p> {% elif candidate_search.form4_status == 4 %} <p class="text-danger">Odmowa</p> {% endif%}

                                </details>
                            </div>
                        </div>
         <hr>
        </div>
 </div>
{% endif %}


<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
{% include "footer.html" %}
{% endblock %}

